<div class="row-fluid" id="saved">
	<%= render :partial => '/feeds/subscriptions' %>

	<div class="span9 feed_loader" id="feed_content_container">	
		

		<%= render :partial => '/feeds/feed_content' %>
		
	</div>
</div>
