p, ol, ul, td {
  font-size: 13px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}



#notice {
  color: green;
}

.field_with_errors {
  border-color:red;
  color:red;
}

#error_explanation {
  border: 1px solid red;
  border-radius:10px;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
      border-radius:10px;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: none;
  }
}

h1{
  padding:10px;
}

